<div class="container">
  <div class="header">
    <h1 class="title">This is not a real online service! You know you need something like this in your life to help you realize your deepest dreams. Sign up <span class="italic">now</span> to get started.</h1>
    <h2 class="addition">You <span class="italic">know</span> you want to.</h2>
  </div>
  <form class="form">
    <h2 class="form-header">Let's do this!</h2>

    <label class="label">
      First Name
      <input class="input" type="text">
    </label>
    <label class="label">
      Last Name
      <input class="input" type="text">
    </label>
    <label class="label">
      Email
      <input class="input" type="email">
    </label>
    <label class="label">
      Phone number
      <input class="input" type="tel">
    </label>
    <label class="label">
      Password
      <input class="input" type="password">
    </label>
    <label class="label">
      Confirm Password
      <input class="input" type="password">
    </label>

    <button class="submit-button" type="submit">Create Account</button>
  </form>

  <div class="footer">
    <p class="footer-paragraph">Already have an account? <a class="log-in-link" href="#">Log in</a></p>
  </div>
</div>
